<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<p>
			MedCom test FHIR server 
			<a href="http://build.fhir.org/ig/hl7dk/dk-medcom/">DK MedCom Core (R4) 1.0</a>
			<div style="background-color: rgb(255, 204, 204) ; padding: 10px; border: 1px solid green;">
				<h4>Ingen personoplysninger</h4>
				<p>Når der uploades test-filer til MedComs testværktøjer må test-filerne ikke indeholde personoplysninger. Personoplysninger forstås i denne forbindelse som oplysninger, der kan henføres til bestemte personer. </p>
				
				<p>Det anbefales at anvende de Nationale test-CPR-numre fra MedComs liste: 
				<a target="_blank" href="https://www.medcom.dk/opslag/koder-tabeller-ydere/tabeller/nationale-test-cpr-numre">https://www.medcom.dk/opslag/koder-tabeller-ydere/tabeller/nationale-test-cpr-numre</a></p>
				</div>
		</p>
		<p>
			This server is built
			from a number of modules of the
			<a href="https://github.com/jamesagnew/hapi-fhir/">HAPI FHIR</a>
			project, which is a 100% open-source (Apache 2.0 Licensed) Java based
			implementation of the FHIR specification.
		</p>
	</div>
</html>
